<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.png" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mamani Chalco Maicol Daniel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy un apasionado Programador Full Stack Junior con sólidos
            conocimientos en el desarrollo web, tanto en el Front-end como en
            el Back-end. Tengo capacidades para resolver problemas y depurar
            aplicaciones, lo que me permite ofrecer soluciones y mejorar proyectos
            en los que trabajo. Soy un miembro colaborativo y comprometido dentro
            de los equipos de desarrollo, que a su vez contribuyo en proyectos conjuntos
            y aprender de mis colegas más experimentados. Siempre estoy dispuesto a aprender
            y estar al tanto de las últimas tendencias y avances tecnológicos en la industria.
            Busco oportunidades para seguir creciendo profesionalmente y poner en práctica
            mis habilidades en un entorno estimulante y desafiante.</p>
        </span>
    </div>
</div>
