<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Programador Web</h1><h3>(2023)</h3>
            </li>
            <div class="contenedor">
                <img src="../../../assets/logo2.png" class="logoEmpresa">
                <p>La página realizada esta destinada para el sector docente de la provincia de Jujuy, 
                con el objetivo de poder realizar distintas actividades como poder realizar itinerancias
                para cada materia, registros de asistencias de los docentes, registros de asistencias y 
                calificaciones de los alumnos, datos de los alumnos y de los tutores, balances y las sedes
                de la provincia en donde asisten los distintos docentes. Se desarrollo la interfaz en codigo
                HTML, CSS y JavaScript aplicando algunos cálculos que permitía ciertas funcionalidades para 
                la página. Ademas se utilizó el lenguaje PHP para implementar la lógica y funcionalidad del 
                lado del servidor. Se diseño y se creó la estructura de las bases de datos para almacenar la 
                información. Se realiza mantenimientos continuos del sitio web para corregir errores, agregar 
                nuevas funcionalidades y mantenerlo actualizado con las necesidades de la institución.</p>
            </div>
        </ul>
    </div>
</div>
