<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Minus facere quis maiores aut earum totam sint nostrum quaerat, 
            illo deserunt et ipsum id, neque est laborum cumque autem ipsam 
            inventore?</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Minus facere quis maiores aut earum totam sint nostrum quaerat, 
            illo deserunt et ipsum id, neque est laborum cumque autem ipsam 
            inventore?</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Minus facere quis maiores aut earum totam sint nostrum quaerat, 
            illo deserunt et ipsum id, neque est laborum cumque autem ipsam 
            inventore?</p>
        </ul>
    </div>
</div>
