<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Mi repositorio Personal</h2>
            <p>Creación de un perfil de Github: la pagina de mi perfil es un
            repositorio público y personal que incluye un archivo README.md,
            en la que muestra información sobre los lenguajes y herramientas con 
            las que trabaje en mis proyectos.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Proyecto1.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
